@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img class="img-responsive img-thumbnail" src="@Url.Content("~/image/paner.gif")" />
</div>


<div class="row">
    <div class="col-md-4">
        <h1>Mua điện máy ? Tin được không? đến điện máy Quyết Tiến ngay!</h1>
    </div>
</div> 